.jobPost-title{
    text-transform: uppercase;
    background: #123068;
    text-align: center;
    color: #fff;
    padding: 20px 0px;
    font-weight: 700;
    font-size: 22px;
}
.status-btn{
    padding: 3px 10px !important;
    font-size: 14px !important;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
}
.status-btn,
.status-btn:hover{
    background-color: #123068 !important;
}
.job-items table thead th{
    font-size: 15px;
    text-transform: uppercase;
}
.job-items table tbody td svg{
    cursor: pointer;
}
.edit-icon{
    color: #5BBC2E;
    transition: all 0.3s ease-in;
}
.edit-icon:hover{
    color: #639c49;
}
.delete-icon{
    color: #DB0909;
    transition: 0.3s ease-in;
}
.delete-icon:hover{
    color: #bd3838;
}
.visible-icon{
    color: #066CCF;
    transition: all 0.3s ease-in;
}
.visible-icon:hover{
    color: #3970a7;
}
/* .job-items .css-1icfziv-MuiTableRow-root:last-child td{
    text-align: center;
} */