.job-cards .job-card,
.job-cards .hiring-card{
    background-color: #123068;
    margin: 0px 10px;
}
.job-cards .interview-card,
.job-cards .applicant-card{
    background-color: #182F59;
    margin: 0px 10px;
}