.text-white{
  color: #fff !important;
}

@media only screen and  (min-width: 600px){
  .css-1t29gy6-MuiToolbar-root,
  .job-cards {
      padding-left: 40px !important;
      padding-right: 40px !important;
  }
}